{% extends "N7consultingPrivacyBundle::layout.html.twig" %}

{% block content_title %}
    {{ 'dashboard.vie_privee'|trans({}, 'dashboard') }}
{% endblock %}

{% block content_bundle %}

    <form action="{{ path('privacy_action', {'id': 0}) }}" method="post" class="confirm" id="privacy-form">
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <label for="personne">
                    {{ 'privacy.personne_select'|trans({}, 'privacy') }}
                </label>
                <select class="select2 form-control" id="personne" name=personne">
                    {% for p in personnes %}
                        <option value="{{ p.id }}">
                            {{ p.prenom }} {{ p.nom }}
                            {% if p.employe is not none %}
                                {{ 'employe.employe'|trans({}, 'personne') }} {{ p.employe.prospect.nom }}
                            {% else %}
                                {{ 'membre.membre'|trans({}, 'personne') }}
                            {% endif %}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-7 col-xs-12">
                <label for="action">
                    {{ 'privacy.action_select'|trans({}, 'privacy') }}
                </label>
                <select class="select2 form-control" id="action" name="action">
                    <option value="{{ constant('N7consulting\\PrivacyBundle\\Controller\\PrivacyController::GDPR_ACCESS_ACTION') }}">{{ 'privacy.acceder'|trans({}, 'privacy') }}</option>
                    <option value="{{ constant('N7consulting\\PrivacyBundle\\Controller\\PrivacyController::GDPR_DELETE_ACTION') }}">{{ 'privacy.supprimer'|trans({}, 'privacy') }}</option>
                    <option value="{{ constant('N7consulting\\PrivacyBundle\\Controller\\PrivacyController::GDPR_MODIFY_ACTION') }}">{{ 'privacy.modifier'|trans({}, 'privacy') }}</option>
                    <option value="{{ constant('N7consulting\\PrivacyBundle\\Controller\\PrivacyController::GDPR_EXPORT_ACTION') }}">{{ 'privacy.exporter'|trans({}, 'privacy') }}</option>
                </select>

            </div>
        </div><br>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success" id="validate">{{ 'privacy.valider'|trans({}, 'privacy') }}</button>
            </div>
        </div>
        <input type="hidden" name="token" value="{{ csrf_token('rgpd') }}" />
    </form>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $('.select2').select2();

        /** Create Confirm message */
        $("#validate").click(function (e) {
            e.preventDefault();
            return bootbox.confirm({
                message: 'Etes vous sur de vouloir <strong>'+$('#action').find(":selected").text()+
                '</strong> les données de <strong>'+$('#personne').find(":selected").text()+'</strong>',
                callback: function (result) {
                    if (result) {
                        var privacyForm = $("#privacy-form");
                        privacyForm.attr('action', '{{ path('privacy_action', {'id':0}) }}'+$("#personne").val());
                        privacyForm.submit();
                    }
                }
            });
        });
    </script>
{% endblock %}
