{% extends "N7consultingRhBundle::layout.html.twig" %}

{% block title %}Modifier une compétence - {{ parent() }}{% endblock %}

{% block content_title %}
    Modifier une compétence
{% endblock %}

{% block breadcrumb_items %}
    <li>
        <a href="{{ path('N7consultingRh_competence_voir', {'id': competence.id}) }}">{{ competence.nom }}</a>
    </li>
{% endblock %}

{% block breadcrumb_active %}
    Modifier une compétence
{% endblock %}

{% block content_bundle %}
    {% include "N7consultingRhBundle:Competence:formulaire.html.twig" %}
    <div class="row">
        <div class="col-xs-6 col-sm-3">

        </div>
        <div class="col-xs-6 col-sm-3">
            <form class="bootbox-confirm"
                  data-content="Êtes-vous sûr de vouloir supprimer définitivement cette compétence ?"
                  action="{{ path('N7consultingRh_competence_supprimer', { 'id': competence.id }) }}"
                  method="post">
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger">Supprimer la compétence</button>
            </form>
        </div>
    </div>

{% endblock %}
