			<h4>{{ 'member.documents_description'|trans({}, 'person') }} {{ membre.personne.prenomNom }}</h4>
            <ul class="nav  navbar-nav">
                <li>
                    <a href="{{ path('Mgate_publi_document_uploadEtudiant', {'membre_id': membre.id}) }}">
                        <span class="fa fa-pencil"></span> {{ 'member.add_document'|trans({}, 'person') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('Mgate_publi_publiposter', { 'templateName' : 'BA', 'rootName' : 'etudiant', 'rootObject_id' : membre.id}) }}">
                        <span class="fa fa-user"></span> {{ 'member.generate_BA'|trans({}, 'person') }}
                    </a>
                </li>
                <li><a href="{{ path('Mgate_publi_publiposter', { 'templateName' : 'CE', 'rootName' : 'etudiant', 'rootObject_id' : membre.id}) }}">
                        <span class="fa fa-paperclip"></span> {{ 'member.generate_CE'|trans({}, 'person') }}
                        <span class="badge badge-default" data-toggle="tooltip"
                        title="Depuis la réforme du cadre légal (AGP CNE 2016) il est recommandé de remplacer la CE par un BA comme fourni.">!</span>
                </a></li>
                <li><a href="{{ path('Mgate_publi_publiposter', { 'templateName' : 'AC', 'rootName' : 'etudiant', 'rootObject_id' : membre.id}) }}">
                        <span class="fa fa-lock"></span> {{ 'member.generate_AC'|trans({}, 'person') }}
                </a></li>
            </ul>


<table class="table table-bordered table-striped">
    <tr>
        <th>{{ 'member.doc.title'|trans({}, 'person') }}</th>
        <th>{{ 'member.doc.upload_date'|trans({}, 'person') }}</th>
        <th>{{ 'member.doc.uploader'|trans({}, 'person') }}</th>
        {% if is_granted('ROLE_CA') %}
        <th>{{ 'fields.action'|trans({}, 'person') }}</th>
        {% endif %}
    </tr>
    {% for relatedDocument in membre.relatedDocuments | reverse %}
        {% set doc = relatedDocument.document %}
        <tr>
            <td><a href="{{ path('Mgate_publi_document_voir', {'id': doc.id}) }} ">{{ doc.name}}</a></td>
            <td>{{ doc.uptime ? doc.uptime | date('d/m/Y - H:i:s')}}</td>
            <td>{{ doc.author ? doc.author.prenomNom }}</td>
            {% if is_granted('ROLE_CA') %}
            <td><a href="{{ path('Mgate_publi_document_delete', {'id' : doc.id }) }}"><i class="fa fa-times"></i></a></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

