{% extends "MgatePersonneBundle::layout.html.twig" %}

{% block title %}
    {{ 'employe.modifier_employe'|trans({}, 'personne') }} {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'employe.modifier_employe'|trans({}, 'personne') }}
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb no-margin pull-right">
        <li><a href="{{ path('MgatePersonne_prospect_homepage') }}">{{ 'prospect.liste_prospect'|trans({}, 'personne') }}</a></li>
        <li><a href="{{  path('MgatePersonne_prospect_voir', {'id': prospect.id}) }}">{{ prospect.nom }}</a></li>
        <li class="active">{{ 'employe.modifier_employe'|trans({}, 'personne') }} {{ form.vars.value.personne.prenomNom }}</li>
    </ul>
{% endblock %}

{% block content_bundle %}
    <div class="table-responsive content">
        {{ form_start(form) }}
        <table class="table table-bordered table-striped">
            {% include "MgatePersonneBundle:Employe:formulaire.html.twig" %}
            <tr>
                <td colspan="6">
                    <div class="row">
                        <div class="col-md-2 col-xs-4">
                            <button type="submit" class="btn btn-success">{{ 'generique.enregistrer'|trans({}, 'personne') }}</button>
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>

                        {% if is_granted('ROLE_SUIVEUR') %}
                        <div class="col-md-2 col-xs-4">
                            <form class="bootbox-confirm" data-content="{{ 'employe.confirmation_supprimer_employe'|trans({}, 'personne') }}"
                                  action="{{ path('MgatePersonne_employe_supprimer', { 'id': form.vars.value.id }) }}" method="post">
                                {{ form_widget(delete_form) }}
                                <button class=" btn btn-danger">{{ 'employe.supprimer_employe'|trans({}, 'personne') }}</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

