{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'dashboard.vie_privee'|trans({}, 'dashboard') }} {{ parent() }}
{% endblock %}

{% block content %}

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                {% block content_title %}
                    {{ 'dashboard.vie_privee'|trans({}, 'dashboard') }}
                {% endblock %}
            </h3>
            {% block breadcrumb %}
                <ul class="breadcrumb no-margin pull-right">
                    <li>
                        <a href="{{ path('privacy_homepage') }}">
                            {{ 'dashboard.vie_privee'|trans({}, 'dashboard') }}
                        </a>
                    </li>
                    {% block breadcrumb_items %}{% endblock %}
                    <li class="active">
                        {% block breadcrumb_active %}{% endblock %}
                    </li>
                </ul>
            {% endblock %}
        </div>
        <div class="box-body">
            {# On définit un nouveau block, que les vues du bundle pourront remplir #}
            {% block content_bundle %}
            {% endblock %}

        </div>
        <div class="box-footer"></div>
    </div>

{% endblock %}
