{% extends "MgatePersonneBundle::layout.html.twig" %}

{% block title %}
    {{ 'prospect.mailing_list'|trans({}, 'person') }}
{% endblock %}

{% block content_title %}
    {{ 'prospect.mailing_list'|trans({}, 'person') }}
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb no-margin pull-right">
        <li class="active">{{ 'prospect.mailing_list'|trans({}, 'person') }}</li>
    </ul>
{% endblock %}

{% block content_bundle %}
<div class="table-responsive content">
    <table class="table table-bordered table-striped">
    <tr>
        <td>{{ 'prospect.mailing_list'|trans({}, 'person') }} : {{ 'directory.customer'|trans({}, 'person') }} & {{ 'person.newsletter_subscribed'|trans({}, 'person') }}</td>
        <td>{{ 'prospect.mailing_list'|trans({}, 'person') }} ({{ 'fields.mail'|trans({}, 'person') }}) : {{ 'member.member'|trans({}, 'person') }} & {{ 'person.newsletter_subscribed'|trans({}, 'person') }}</td>
        <td>{{ 'prospect.mailing_list'|trans({}, 'person') }} ({{ 'fields.student_mail'|trans({}, 'person') }}) : {{ 'member.member'|trans({}, 'person') }} & {{ 'person.newsletter_subscribed'|trans({}, 'person') }}</td>
    </tr>
    <tr>
        <td>
            {% for personne in personnes if personne.employe and personne.emailestvalide and personne.estabonnenewsletter and personne.email %}
                {{personne.prenomNom }} &lt;{{ personne.email }}&gt;;<br />
            {% endfor %}
        </td>
        <td>
            {% for personne in personnes if personne.membre and personne.emailestvalide and personne.estabonnenewsletter and  personne.email %}
                {{personne.prenomNom }} &lt;{{ personne.email }}&gt;;<br />
            {% endfor %}
        </td>
        <td>
            {% for personne in personnes if personne.membre and personne.emailestvalide and personne.estabonnenewsletter  %}
                {{personne.prenomNom }} &lt;{{ personne.membre.emailEMSE }}&gt;;<br />
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>{{ 'prospect.mailing_list'|trans({}, 'person') }} : {{ 'directory.customer'|trans({}, 'person') }}</td>
        <td>{{ 'prospect.mailing_list'|trans({}, 'person') }} ({{ 'fields.mail'|trans({}, 'person') }}) : {{ 'member.member'|trans({}, 'person') }}</td>
        <td>{{ 'prospect.mailing_list'|trans({}, 'person') }} ({{ 'fields.student_mail'|trans({}, 'person') }}) : {{ 'member.member'|trans({}, 'person') }}</td>
    </tr>
    <tr>
        <td>
            {% for personne in personnes if personne.employe and personne.email and personne.emailestvalide %}{{personne.prenomNom }} &lt;{{ personne.email }}&gt;;<br />{% endfor %}
        </td>
        <td>
            {% for personne in personnes if personne.membre and personne.email and personne.emailestvalide %}{{personne.prenomNom }} &lt;{{ personne.email }}&gt;;<br />{% endfor %}
        </td>
        <td>
            {% for personne in personnes if personne.membre %}{{personne.prenomNom }} &lt;{{ personne.membre.emailEMSE }}&gt;;<br />{% endfor %}
        </td>
    </tr>
    </table>
</div>

    <h3>Liste de diffusion cotisant ({{ nbrCotisantsEtu}})(mails école)</h3>
    <pre>
        {{ cotisantsEtu }}
    </pre>

    <h3>Liste de diffusion cotisant ({{ nbrCotisants }}) (hors mails école)</h3>
    <pre>
        {{ cotisants }}
    </pre>
{% endblock %}

