{# Formulaire pour un AvMission #}

{{ form_start(form) }}

	{{ form_widget(form) }}

<div class="row">
    <div class="col-md-3 col-sm-5 col-xs-6">
        <input type="submit" value="{{ 'suivi.avenant_mission_enregistrer'|trans({}, 'suivi') }}"
               class="btn btn-default"/>
        {{ form_end(form) }}
    </div>

    {% if delete_form is not none %}
        <div class="col-md-3 col-sm-5 col-xs-6">
            <form class="bootbox-confirm"
                  data-content="{{ 'suivi.avenant_mission_supprimer_confirm'|trans({}, 'suivi') }}"
                  action="{{ path('MgateSuivi_avmission_delete', { 'id': avmission.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger">
                    {{ 'suivi.avenant_mission_supprimer' |trans({}, 'suivi') }}
                </button>
            </form>
        </div>
    {% endif %}
</div>
