{% extends "MgatePersonneBundle::layout.html.twig" %}

{% block title %}
    {{ 'dashboard.postes_filieres'|trans({}, 'dashboard') }} {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'dashboard.postes_filieres'|trans({}, 'dashboard') }}
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb no-margin pull-right">
        <li class="active">{{ 'dashboard.postes_filieres'|trans({}, 'dashboard') }}</li>
    </ul>
{% endblock %}

{% block content_bundle %}
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <h2>{{ 'poste.liste_poste'|trans({}, 'personne') }}</h2>

            <a href="{{ path('MgatePersonne_poste_ajouter') }}" class="btn btn-info">
                {{ 'dashboard.poste_ajouter'|trans({}, 'dashboard') }}
            </a>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'poste.postes'|trans({}, 'personne') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for poste in postes %}
                    {% if loop.index0 % 2 == 0 or loop.first %}
                        <tr>
                    {% endif %}
                        <td>
                            <a href="{{ path('MgatePersonne_poste_modifier', {'id': poste.id}) }}">
                                <i class="fa fa-pencil"></i>
                                {{ poste.intitule }}
                            </a>
                        </td>
                    {% if loop.index0 % 2 == 1 or loop.last %}
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td>{{ 'poste.liste_poste_vide'|trans({}, 'personne') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-sm-6 col-xs-12">
                {% include '@MgatePersonne/Filiere/index.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endblock %}

