{% extends "MgatePersonneBundle::layout.html.twig" %}

{% block title %}
    {{ 'poste.modifier_poste'|trans({}, 'personne') }} {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'poste.modifier_poste'|trans({}, 'personne') }}
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb no-margin pull-right">
        <li><a href="{{ path('MgatePersonne_poste_homepage') }}">{{ 'dashboard.postes_filieres'|trans({}, 'dashboard') }}</a></li>
        <li class="active">{{ 'poste.modifier_poste'|trans({}, 'personne') }}</li>
    </ul>
{% endblock %}

{% block content_bundle %}
    <div class="table-responsive content">
        {{ form_start(form) }}
        <table class="table table-bordered table-striped">
            <tr>
                <th>{{ form_label(form.intitule) }}</th>
                <td>{{ form_widget(form.intitule) }} {{ form_errors(form.intitule) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.description) }}</th>
                <td>{{ form_widget(form.description) }} {{ form_errors(form.description) }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="row">
                        <div class="col-md-2 col-xs-4">
                            <button type="submit" class="btn btn-success">{{ 'generique.enregistrer'|trans({}, 'personne') }}</button>
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <form class="bootbox-confirm inline"
                                  data-content="{{ 'poste.confirmation_supprimer_poste'|trans({}, 'personne') }}"
                                  action="{{ path('MgatePersonne_poste_supprimer', { 'id': form.vars.value.id }) }}" method="post">
                                {{ form_widget(delete_form) }}
                                <button class="btn btn-danger">{{ 'poste.supprimer_poste'|trans({}, 'personne') }}</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

