{% extends 'FrontBundle:CRUD:show.html.twig' %}

{%- set mandateId = mandate['@id']|uriId -%}

{% block page_header_title -%}
    <h1>Mandat #{{ mandateId }}</h1>
{%- endblock %}

{% block page_header_button -%}
    {{ macros.button_link(path('mandates_edit', { 'id': mandateId }), 'Éditer', 'btn-warning pull-right', 'fa fa-pencil fa-fw') }}
    {{ macros.button_entity_list(path('mandates'), 'Retour à la liste', 'style=margin-right:15px') }}
{%- endblock %}

{% block sub_body -%}
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ mandate.name }}</td>
                    </tr>
                    <tr>
                        <th>Début de mandat</th>
                        <td>{{ mandate.startAt|date('m/Y') }}</td>
                    </tr>
                    <tr>
                        <th>Fin de mandat</th>
                        <td>{{ mandate.endAt|date('m/Y') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        {{ form_start(delete_form) }}
            {{ macros.button_icon('Supprimer', 'btn-danger pull-right', 'fa fa-trash-o fa-fw', 'id=form_submit name=form[submit] onClick=document.forms[\'form\'].submit();') }}
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
