{% extends 'FrontBundle:CRUD:show.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block page_header_title -%}
    <h1>Utilisateur</h1>
{%- endblock %}

{% block page_header_button -%}
    {{ macros.button_entity_list(path('users'), 'Retour à la liste') }}
{%- endblock %}

{% block sub_body -%}

    <div class="container">
        <div class="col-md-6">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ macros.button_link(path('users_show', { 'id': user['@id']|uriId }), 'Annuler', 'btn-default pull-left') }}
                <input type="submit" value="Enregistrer" class="btn btn-primary pull-right" />
            {{ form_end(form) }}
        </div>
    </div>
{%- endblock %}
