{% extends 'FrontBundle:CRUD:index.html.twig' %}

{% block page_header_title -%}
    <h1>Membres</h1>
{%- endblock %}

{% block page_header_button -%}
    {{ macros.button_entity_new(path('users_new'), 'Nouveau membre') }}
{%- endblock %}

{% block sub_body -%}
    <table class="table table-hover table-responsive table-striped table-vcentered">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="clickable"
                onclick="window.location='{{ path('users_show', { 'id': user['@id']|uriId }) }}'">
                <td>{{ user['@id']|uriId }}</td>
                <td>
                    {%- if user.fullname is not null -%}
                        {{ user.fullname }}
                    {%- else -%}
                        {{ user.username }}
                    {%- endif -%}
                </td>
                <td>{{ user.email }}</td>
                <td>
                    {% if 'ROLE_SUPER_ADMIN' == user.topRole %}
                        {% set class = 'label label-danger' %}
                    {% elseif 'ROLE_ADMIN' == user.topRole %}
                        {% set class = 'label label-primary' %}
                    {% else %}
                        {% set class = 'label label-default' %}
                    {% endif %}
                    <span class="{{ class }}">{{ user.topRole|role }}</span>
                </td>
                <td>
                    {{ macros.button_entity_show(path('users_show', { 'id': user['@id']|uriId })) }}
                    {{ macros.button_entity_edit(path('users_edit', { 'id': user['@id']|uriId })) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{%- endblock %}
