{% extends '@Front/base.html.twig' %}

{% block body -%}
    <h1 class="page-header">Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Utilisateur</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': user['@id']|uriId }) }}">{{ user['@id']|uriId }}</a></td>
                <td>
                    {#{% if user.fullname is not null %}#}
                        {{ user.fullname }}
                    {#{% else %}#}
                        {#{{ user.username }}#}
                    {#{% endif %}#}
                </td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
                {#<td>{{ user.roles }}</td>#}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('users_show', { 'id': user['@id']|uriId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('users_edit', { 'id': user['@id']|uriId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('users_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>

    {% endblock %}
