{% extends 'FrontBundle:CRUD:show.html.twig' %}

{% block page_header_title -%}
    <h1>User</h1>
{%- endblock %}

{% block page_header_button -%}
    {{ macros.button_entity_list(path('users'), 'Retour') }}
{%- endblock %}

{% block sub_body -%}
    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ user['@id']|uriId }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ user.fullname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Rôles</th>
                <td>
                    {% if user.roles|length > 0 -%}
                        <ul>
                            {% for role in user.roles %}
                                <li>{{ role }}</li>
                            {% endfor %}
                        </ul>
                    {%- endif %}
                </td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>
                    {% if user.jobs|length > 0 -%}
                        <ul>
                            {% for job in user.jobs %}
                                <li>{{ dump(job) }}</li>
                            {% endfor %}
                        </ul>
                    {%- endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
