{# Page de liste des impayés : les personnes s'étant inscrites à la Junior mais dont le format de paiement n'est pas défini. #}
{% extends "MgatePersonneBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.fontAwesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/responsive.bootstrap.min.css') }}">
{% endblock %}

{% block title %}
    {{ 'member.unpaid_list'|trans({}, 'person') }} {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'member.unpaid_list'|trans({}, 'person') }}
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb no-margin pull-right">
        <li class="active">{{ 'member.unpaid_list'|trans({}, 'person') }}</li>
    </ul>
{% endblock %}

{% block content_bundle %}
    <p>{{ 'member.unpaid_list_description'|trans({}, 'person') }}</p>

    <table class="table table-bordered table-striped dataTable dt-responsive text-left" id="listeImpayes" role="grid" width="100%">
        <thead>
        <tr>
            <th>{{ 'fields.firstname'|trans({}, 'person') }}</th>
            <th>{{ 'fields.lastname'|trans({}, 'person') }}</th>
            <th>{{ 'fields.mail'|trans({}, 'person') }}</th>
            <th>{{ 'fields.year'|trans({}, 'person') }}</th>
            <th>{{ 'fields.mobile'|trans({}, 'person') }}</th>
            <th>{{ 'fields.address'|trans({}, 'person') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td>
                    <a href="{{ path('MgatePersonne_membre_voir', {'id': membre.id}) }}">{{ membre.personne ? membre.personne.prenom }}</a>
                </td>
                <td>
                    <a href="{{ path('MgatePersonne_membre_voir', {'id': membre.id}) }}">{{ membre.personne ? membre.personne.nom }}</a>
                </td>
                <td>{{ membre.personne ? membre.personne.email }}</td>
                <td class="text-center">
                    <span class="label label-default">{{ membre.promotion ? "P" ~ membre.promotion }}</span>
                </td>
                <td>{{ membre.personne ? membre.personne.mobile }}</td>
                <td>
                    {{ membre.personne ? membre.personne.adresse }}<br/>
                    {{ membre.personne ? membre.personne.codepostal }} {{ membre.personne ? membre.personne.ville }}
                </td>
            </tr>
        {% else %}
            <li>{{ 'member.empty_unpaid_list_description'|trans({}, 'person') }}</li>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('js/datatables/responsive.bootstrap.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#listeImpayes').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "iDisplayLength": 50,
                "aaSorting": [[3, 'desc']]
            });
        });
    </script>
{% endblock %}
