{# Page de liste des membres : les personnes s'étant inscrites à la Junior. #}

{% extends "MgatePersonneBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.fontAwesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/responsive.bootstrap.min.css') }}">
{% endblock %}

{% block title %}
    {{ 'membre.liste_membre'|trans({}, 'personne') }} {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'membre.liste_membre'|trans({}, 'personne') }}
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb no-margin pull-right">
        <li class="active">{{ 'membre.liste_membre'|trans({}, 'personne') }}</li>
    </ul>
{% endblock %}

{% block content_bundle %}
    <table class="table table-bordered table-striped dataTable dt-responsive text-left" id="listeMembres" role="grid" width="100%">
        <thead>
        <tr>
            <th>{{ 'champs.promotion'|trans({}, 'personne') }}</th>
            <th>{{ 'champs.id'|trans({}, 'personne') }}</th>
            <th>{{ 'champs.prenom'|trans({}, 'personne') }}</th>
            <th>{{ 'champs.nom'|trans({}, 'personne') }}</th>
            <th>{{ 'champs.poste'|trans({}, 'personne') }}</th>
            <th>{{ 'champs.mail'|trans({}, 'personne') }}</th>
            <th>{{ 'champs.mobile'|trans({}, 'personne') }}</th>
            <th>{{ 'champs.adresse'|trans({}, 'personne') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td class="text-center">
                    <span class="label label-default">{{ membre.promotion ? "P" ~ membre.promotion }}</span>
                </td>
                <td class="text-center">
                    <span class="label label-info">{{ membre.identifiant }}</span>
                </td>
                <td>
                    <a href="{{ path('MgatePersonne_membre_voir', {'id': membre.id}) }}">{{ membre.personne ? membre.personne.prenom }}</a>
                </td>
                <td>
                    <a href="{{ path('MgatePersonne_membre_voir', {'id': membre.id}) }}">{{ membre.personne ? membre.personne.nom }}</a>
                </td>
                <td>
                    {% for mandat in membre.mandats %}
                        <span class="label label-{{ "now"|date('Ymd') > mandat.finMandat |date('Ymd') ? 'default' : 'success' }}"
                              data-valide="{{ "now"|date('Ymd') > mandat.finMandat |date('Ymd') ? 'ancien' : 'actuel' }}{{ mandat.poste.intitule }}">{{ mandat.debutMandat | date("d/m/Y") }}
                            <span class="fa fa-arrow-right"></span> {{ mandat.finMandat | date("d/m/Y") }}</span> {{ mandat.poste.intitule }}
                        <br/>
                    {% endfor %}
                </td>
                <td>{{ membre.personne ? membre.personne.email }}</td>
                <td>{{ membre.personne ? membre.personne.mobile }}</td>
                <td>
                    {{ membre.personne ? membre.personne.adresse }}<br/>
                    {{ membre.personne ? membre.personne.codepostal }} {{ membre.personne ? membre.personne.ville }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('js/datatables/responsive.bootstrap.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#listeMembres').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "iDisplayLength": 50,
                "responsive": true,
                "aaSorting": [[0, 'desc']]
            });
        });
    </script>
{% endblock %}

