{# Page de liste des intervenants : les personnes ayant déjà réalisé une mission.#}
{% extends "MgatePersonneBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.fontAwesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/responsive.bootstrap.min.css') }}">
{% endblock %}

{% block title %}
    {{ 'member.worker_list'|trans({}, 'person') }} {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'member.worker_list'|trans({}, 'person') }}
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb no-margin pull-right">
        <li class="active">{{ 'member.worker_list'|trans({}, 'person') }}</li>
    </ul>
{% endblock %}

{% block content_bundle %}
    <p>{{ 'member.worker_list_description'|trans({}, 'person') }}</p>

    <table class="table table-bordered table-striped dataTable dt-responsive text-left" id="listeIntervenants" role="grid" width="100%">
        <thead>
        <tr>
            <th>{{ 'fields.year'|trans({}, 'person') }}</th>
            <th>{{ 'fields.firstname'|trans({}, 'person') }}</th>
            <th>{{ 'fields.lastname'|trans({}, 'person') }}</th>
            <th>{{ 'fields.id'|trans({}, 'person') }}</th>
            <th>{{ 'fields.nationality'|trans({}, 'person') }}</th>
            <th>{{ 'study.doc.CE'|trans({}, 'person') }}</th>
            <th>{{ 'study.study'|trans({}, 'person') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for membre in intervenants %}
            <tr>
                <td class="text-center">
                    <span class="label label-default">{{ membre.promotion ? "P" ~ membre.promotion }}</span>
                </td>
                <td>
                    <a href="{{ path('MgatePersonne_membre_voir', {'id': membre.id}) }}">{{ membre.personne.prenom }}</a>
                </td>
                <td>
                    <a href="{{ path('MgatePersonne_membre_voir', {'id': membre.id}) }}">{{ membre.personne.nom }}</a>
                </td>
                <td class="text-center">
                    <span class="label label-info">{{ membre.identifiant }}</span>
                </td>
                <td>
                    <span class="label label-{{ membre.nationalite == 'FR' ?  'success' : (  membre.nationalite == 'DZ'  ? 'danger' : 'warning' ) }}"
                          title="{{ membre.nationalite == 'FR' ?  'Français' : (  membre.nationalite == 'DZ'  ? 'member.worker_forbidden'|trans({}, 'person') : 'member.worker_declare'|trans({}, 'person') ) }}">
                        {{ membre.nationalite }}
                    </span>
                </td>
                <td>
                    <span class="label label-{{ membre.dateConventionEleve ? "success" : "warning" }}">
                        {{ 'study.doc.CE'|trans({}, 'person') }}
                        {{ membre.dateConventionEleve ? membre.dateConventionEleve | date('d/m/Y') : 'study.not_signed'|trans({}, 'person') }}
                    </span>
                </td>
                <td>
                    {% for mission in membre.missions %}
                        <span class="label label-{{ membre.dateConventionEleve ? ( membre.dateConventionEleve <= mission.debutOm |date_modify("-7 day") ? "success" : "warning" ) : "danger" }}">{{ mission.debutOm ? mission.debutOm  | date("d/m/Y") : "?" }}
                            <span class="fa fa-arrow-right"></span> {{ mission.finOm ? mission.finOm | date("d/m/Y") : "?" }}</span>
                        | <a href="{{ path("MgateSuivi_etude_voir", {'nom' : mission.etude.nom}) }}">{{ mission.etude.reference(param('namingConvention')) }}</a>
                        <br/>
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <li>{{ 'member.empty_worker_list_description'|trans({}, 'person') }}</li>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('js/datatables/responsive.bootstrap.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#listeIntervenants').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "iDisplayLength": 50,
                "aaSorting": [[0, 'desc']]
            });
        });
    </script>
{% endblock %}

