            <tr>
                <th>{{ form_label(form.nom) }}</th>
                <td>{{ form_widget(form.nom) }} {{ form_errors(form.nom) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.entite) }}</th>
                <td>{{ form_widget(form.entite) }} {{ form_errors(form.entite) }}</td>
            </tr>
            <tr>
                <th>{{ 'champs.adresse'|trans({}, 'personne') }}</th>
                <td> {{ form_widget(form.adresse,{ 'attr': {'cols': '30', 'rows':'2'} }) }} {{ form_errors(form.adresse) }}</td>
            </tr>
            <tr>
                <th>{{ 'champs.code_postal'|trans({}, 'personne') }}</th>
                <td>{{ form_widget(form.codepostal) }} {{ form_errors(form.codepostal) }}</td>
            </tr>
            <tr>
                <th>{{ 'champs.ville'|trans({}, 'personne') }}</th>
                <td>{{ form_widget(form.ville) }} {{ form_errors(form.ville) }}</td>
            </tr>
            <tr>
                <th>{{ 'champs.pays'|trans({}, 'personne') }}</th>
                <td>{{ form_widget(form.pays) }} {{ form_errors(form.pays) }}</td>
            </tr>
