{% extends "MgateSuiviBundle::layout.html.twig" %}

{% block title %}
    {{ 'suivi.etude_modifier'|trans({}, 'suivi') }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'suivi.etude_modifier'|trans({}, 'suivi') }}
{% endblock %}

{% block breadcrumb_active %}
    {{ 'suivi.modifier'|trans({}, 'suivi') }}
{% endblock %}

{% block content_bundle %}
    {% include "MgateSuiviBundle:Etude:formulaire.html.twig" %}
    <br/>
    <form class="bootbox-confirm inline" data-content="{{ 'suivi.etude_supprimer_confirm'|trans({}, 'suivi') }} ?"
          action="{{ path('MgateSuivi_etude_supprimer', { 'nom': etude.nom }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger">{{ 'suivi.etude_supprimer'|trans({}, 'suivi') }}</button>
    </form>
{% endblock %}
