{# Formulaire d'ajout d'un contact client #}

{{ form_start(form) }}

<table class="table table-bordered table-striped standard">
    <tr>
        <th>{{ form_label(form.faitPar) }}</th>
        <td>{{ form_widget(form.faitPar) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.date) }}</th>
        <td>{{ form_widget(form.date) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.objet) }}</th>
        <td>{{ form_widget(form.objet) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.contenu) }}</th>
        <td>{{ form_widget(form.contenu) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.moyenContact) }}</th>
        <td>{{ form_widget(form.moyenContact) }}</td>
    </tr>
</table>
{{ form_widget(form) }}

<div class="row">
    <div class="col-md-3 col-sm-5 col-xs-6">
        <button type="submit" class="btn btn-success">
            {% if form.vars.data.id %}
                {{ 'suivi.contact_client_enregistrer'|trans({}, 'suivi') }}
            {% else %}
                {{ 'suivi.contact_client_nouveau_enregistrer'|trans({}, 'suivi') }}
            {% endif %}
        </button>
        {{ form_end(form) }}
    </div>

    {% if delete_form is not none %}
        <div class="col-md-3 col-sm-5 col-xs-6">
            <form class="bootbox-confirm"
                  data-content="{{ 'suivi.contact_client_supprimer_confirm'|trans({}, 'suivi') }}"
                  action="{{ path('MgateSuivi_clientcontact_delete', { 'id': clientcontact.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger">
                    {{ 'suivi.contact_client_supprimer' |trans({}, 'suivi') }}
                </button>
            </form>
        </div>
    {% endif %}

</div>

