{% extends "MgateSuiviBundle::layout.html.twig" %}

{% block title %}
    {{ 'suivi.contact_client_modifier'|trans({}, 'suivi') }} - {{ parent() }}
{% endblock %}

{% block breadcrumb_items %}
    <li>
        <a href="{{ path('MgateSuivi_clientcontact_voir', {'id': clientcontact.id}) }}">
            {{ 'suivi.contact_client'|trans({}, 'suivi') }} {{ clientcontact.id }}
        </a>
    </li>
{% endblock %}

{% block breadcrumb_active %}
    {{ 'suivi.contact_client_modifier'|trans({}, 'suivi') }}
{% endblock %}

{% block content_title %}
    {{ 'suivi.contact_client_modifier'|trans({}, 'suivi') }}
{% endblock %}

{% block content_bundle %}

    {% include "MgateSuiviBundle:ClientContact:formulaire.html.twig" %}

{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}


